@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Abhaya Libre", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
